.banner{
    display: flex;
    height: 15rem;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-image: url(../../assets/images/orange-bg.jpg);
    background-position: center;
    background-size: cover;

    &__title{
        color: #fff;
        font-weight: bold;
    }
}